# Node
node_modules/
dist/

# Logs
*.log

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Java
target/
*.class

# Maven Wrapper Logs
.mvn/wrapper/maven-wrapper.jar

# Build files
build/

# Misc
coverage/
